.error {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
    }
}